*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    transition: all 0.5s ease;
    
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    background: rgb(44, 44, 44);
}
.calculator{
    background: white;
    position: relative;
    height: auto;
    width: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px black;
}

button{
    width: 50px;
    height: 50px;
    border: 2px black solid;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    color:white;
    background-color: rgb(227, 224, 250);
}

.btn{
    background-color: rgb(46, 42, 40);
}

.btn-number{    
    background-color: rgb(100, 99, 102);
    font-weight: bolder;
    color:black;
    
}

.toggler-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    background: white;
    border: 2px black solid;
    z-index: 1;
}

#clear{
    background: rgb(245, 118, 6);
}

#display{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 50px;
    border-radius: 15px;
    width: auto;
    font-size: larger;
    margin: 10px ;
    /* padding: 10px; */
    overflow: hidden;
    background: lightgray;
}

.dark{
    background: black;
}
